<link rel="stylesheet" href="/stylesheets/style.css">
<script src="/javascript/snake.js" defer></script>

<%- include('../header') %>
<%= session.user1234 %>
<h1>Puntuación:<a id="points"></a></h1>
<div class="container">
    <canvas width="400" height="400" id="snake" style="border: 1px inset #000000;"></canvas>
    <table>
        <thead>
          <tr><td colspan="2" style="font-size: 140%;"><b><u>MEJORES PUNTUACIONES</u></b></td></tr>
          <tr><td><b>Usuario</b></td><td><b>Récord</b></td></tr>
        </thead>
        <tbody>
          <tr>
            <td><%= session.user.username %></td>
            <td><span id=record></span></td>
          </tr>
          <tr>
            <td>Pedro</td>
            <td>16</td>
          </tr>
        </tbody>
    </table>
</div>
<h1>RÉCORD DE <%= session.user.username %>: <span id="record2"></span></h1>